/*adds styles to the cards*/
.card {
    margin: 15px 15px 15px 15px;
    border: 1px solid black; 

}

.card-body {
    border-radius: 5px;
    padding: 20px;
    background-color:  #486980;
    color: #f8f9fa; 
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #b0b8be;
}


/*adds color to the navbar*/
.custom-navbar {
    background-color: #092866 !important;
    color: #f8f9fa;
  }

  /*nav bar styles*/
  .nav-text-color {
    color: rgb(244, 246, 250) ;
  }

  .nav-text-color:hover {
    color: rgb(194, 194, 231); 
  }

  .navbar-brand-bold {
    font-weight: bold;
  }

  /*hamburger color*/
  .navbar-toggler.navbar-hamburger {
    background-color: #ffffff;
  }

/*text styles*/
  
  .text-color-one {
    color: rgb(244, 246, 250);
  }

  .text-color-two {
    color: rgb(23, 23, 24);
  }

  .text-color:hover {
    color: rgb(228, 228, 230); 
  }

  
  /*In large viewports, it applies this specific width*/
  @media (min-width: 992px) {
    .add-project-btn {
      width: 210px !important;
    }
  }
  
  /*button styles*/
  .add-project-btn {
    background-color:#5597bd; 
    color: white; 
    border: 2px solid #0d0d0e;
  }
  .add-project-btn:hover {
    background-color: #570e63; 

  }

  .add-buttons{
    background-color: #1c66c7;
    color: white;
  }

  .add-buttons:hover{
    background-color:  #154e99;
  }
  
  
  .edit-button{
    background-color: #508666;
    color: white;
  }

  .edit-button:hover{
    background-color: #5e7768

  }

.btn {
  font-size: 14px;
  border-radius: 5px;
}

/*Adds color to the body*/
  body{
    background-color: #f8f9fc;
  }